<div class="toolbar" style="height: 20px;">
  {{#ic-menu id="menu1" style="float: left;"}}
    {{#ic-menu-trigger id="trigger1" tagName="button"}}Actions{{/ic-menu-trigger}}
    {{#ic-menu-list id="list1"}}
      {{#ic-menu-item on-select="alert"}}Delete{{/ic-menu-item}}
      {{#ic-menu-item on-select="alert"}}Save{{/ic-menu-item}}
    {{/ic-menu-list}}
  {{/ic-menu}}

  {{#ic-menu style="float: right;"}}
    {{#ic-menu-trigger}}More Actions{{/ic-menu-trigger}}
    {{#ic-menu-list style="right: 10px;"}}
      {{#ic-menu-item on-select="alert"}}Delete this super long action name{{/ic-menu-item}}
      {{#ic-menu-item on-select="alert"}}Save{{/ic-menu-item}}
    {{/ic-menu-list}}
  {{/ic-menu}}

  {{#ic-menu id="menu-order" style="float: left;"}}
    {{#ic-menu-trigger id="trigger-order" tagName="button"}}
      Order Actions
    {{/ic-menu-trigger}}
    {{#ic-menu-list id="list-order"}}
      {{#ic-menu-item on-select="alert"}}first{{/ic-menu-item}}
      {{#if useFirst}}
        {{#ic-menu-item on-select="alert"}}useFirst: true{{/ic-menu-item}}
      {{else}}
        {{#ic-menu-item on-select="alert"}}useFirst: false{{/ic-menu-item}}
      {{/if}}
      {{#x-spacer}}{{/x-spacer}}
      {{#ic-menu-item on-select="alert"}}last{{/ic-menu-item}}
    {{/ic-menu-list}}
  {{/ic-menu}}
</div>

<div class="content">
  <p><select><option>foo</option></select></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

